.display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.display div {
  display: flex;
}

.display .input {
  width: 40%;
  height: 20px;
}

.display button {
  background-color: green;
  color: white;
  border: none;
  padding: 7px 18px;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  height: 100px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.data {
  margin-left: 25px;
  flex: 1;
  text-align: start;
  word-break: break-word;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  margin-right: 20px;
  width: 30%;
}

.btn1 {
  background-color: green;
  padding: 15px 8px;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  width: 160%;
  cursor: pointer;
}

.btn2 {
  background-color: red;
  padding: 15px 8px;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  width: 160%;
  cursor: pointer;
}

.delete {
  overflow: hidden;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

img {
  height: 30px;
}