body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(26, 26, 26);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.contain {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #1e1e1e;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.contain h2 {
  text-align: center;
}
